<settings>
    <servers>
        <!-- Trenger både x-access-token og github token for å hente nødvendige avhengigheter -->
        <server>
            <id>github-package-registry-navikt</id>
            <username>token</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>freg-abac</id>
            <username>x-access-token</username>
            <password>${env.PASSWORD}</password>
        </server>
    </servers>
</settings>
