.settings
target
.project
.classpath
bin
*.iml
.idea/**/*
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
.vscode
.factorypath
_*.sh
*.local
*.localz
es.properties
*.zip
*.versionsBackup
*.log
es-local.properties
*.db
app/src/main/resources/db/flyway_q1.properties
app/src/main/resources/db/flyway_p.properties
*.secrets.properties