.settings
target
.project
.classpath
bin
*.iml
.idea
_*.sh
*.local
*.localz
es.properties
*.zip
*.versionsBackup
*.log
es-local.properties
*.db
app/src/main/resources/db/flyway_q1.properties
app/src/main/resources/db/flyway_p.properties
app/src/main/resources/frontendlogger/
app/src/main/resources/public/
*.secrets.properties