<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <logger name="org.apache.cxf.services" level="WARN" additivity="false"/>
    <logger name="org.springframework.oxm.jaxb.Jaxb2Marshaller" level="WARN" additivity="false"/>
</included>