<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames><version>[ignore]</version></fieldNames>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="org.flywaydb.core.internal.dbsupport.SqlScript" level="DEBUG"/>
    <logger name="org.apache.cxf.services" level="WARN"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.springframework.kafka" level="INFO"/>
    <logger name="org.springframework.oxm.jaxb.Jaxb2Marshaller" level="WARN"/>
    <logger name="no.nav.melosys.frontendlogg" level="WARN"/>
    <logger name="no.nav.melosys.sikkerhet.abac" level="WARN"/>
    <logger name="no.nav.security.token.support" level="WARN"/>
</included>
